@import "colors.css";

* {
    font-family: JetBrainsMono Nerd Font;
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

#waybar {
    font-weight: 700;
    background: transparent;
    font-size: 14px;
    border-radius: 15px;
    color:@fg;
    padding: 0 15px;
}

.modules-left,
.modules-center,
.modules-right {
    margin-bottom: -8px;
    padding: 8px;
}

tooltip {
    padding: 8px;
    border-radius: 15px;
    background: @tooltip-bg;
}

tooltip label {
    padding: 0 9px;
}

.popup * {
    box-shadow: none;
    outline: none;
}

/* inside groups */
#battery,#cpu,#memory,#wireplumber,#bluetooth,#network{
    padding: 2px 6px;
    background: transparent;
    border-radius: 15px;
    margin: 0 3px;
} 

#cpu,#bluetooth{
    margin: 0 0px;
}

/* pills */
#vitals,#mpris,#workspaces,#controlcenter,#clock,#custom-power{
    padding: 2px 9px;
    border-radius: 15px;
    margin: 0 4px;
    background: @module-bg;
}

#clock, #mpris {
    padding: 2px 18px;
}

/* ajustments */
#custom-power {
    padding-right: 12px
}

#memory.critical, #cpu.critical,#battery.critical,#network.disconnected{
	color: @red;
}

#memory.warning, #cpu.warning,#battery.warning {
	color: @yellow;
}

#workspaces button {
    color: @workspace-fg;
    font-size: 14px;
    border-radius: 15px;
    margin: 0 7px;
}

#workspaces button:hover {
    background: transparent;
}
