#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    format_tag_separator: ", ",
    symbols: (
        song: "",
        dir: "",
        playlist: "󰲹",
        marker: "▌",
        ellipsis: "...",
        song_style: None,
        dir_style: None,
        playlist_style: None,
    ),
    highlighted_item_style: (fg: "green", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "white", modifiers: "Bold"),
    borders_style: (fg: "green"),
    highlight_border_style: (fg: "green"),
    progress_bar: (
        elapsed_style: (fg: "green"),
        thumb_style: (fg: "green"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        thumb_style: (fg: "green"),
    ),
    tab_bar: (
        active_style: (fg: "black", bg: "green", modifiers: "Bold"),
        inactive_style: (),
    ),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "8",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "21",
                            pane: Pane(AlbumArt),
                        ),
                        (
                            size: "100%",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "2",
                                        pane: Pane(Empty()),
                                    ),
                                    (
                                        size: "2",
                                        border_symbols: Empty,
                                        borders: "LEFT | RIGHT",
                                        pane: Pane(Header),
                                    ),
                                    (
                                        size: "1",
                                        pane: Pane(Empty()),
                                    ),
                                    (
                                        size: "1",
                                        pane: Pane(Tabs),
                                    ),
                                    (
                                        size: "2",
                                        pane: Pane(Empty()),
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "1",
                pane: Pane(Empty())
            ),
            (
                size: "100%",
                pane: Pane(TabContent),
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "green", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "green", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "green", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (fg: "green", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "green", modifiers: "Bold"))
                    ),
                ],
                right: [
                    (kind: Text("Vol: ")),
                    (kind: Property(Status(Volume)), style: (modifiers: "Bold")),
                    (kind: Text("%"), style: (modifiers: "Bold"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "white", modifiers: "Bold"),
                        default: (kind: Text("No song"), style: (fg: "white", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),
                        default: (kind: Text("No song"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "green", modifiers: "Bold"),
                            separator_style: (fg: "green")))
                        ),
                    ),
                ]
            )
        ],
    ),
)
